
{% extends "editformlayout.html" %}
{% load static %}
{% block title %}
Add user
{% endblock %}
{% block editcontent %}

<div class="col-lg-6 mb-5 mb-lg-0">
  <div class="card shadow">
    <div class="card-body py-5 px-md-5 mt-3">
      <h3 class="mb-4 text-center">Add Product</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="form3Example1">Product Name</label>
              <input type="text" id="form3Example1" name="name" class="form-control" placeholder="Product Name"
                required />
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="form3Example2">Price</label>
              <input type="text" pattern="[0-9]+([\.][0-9]{0,2})?"  id="form3Example2" name="price" class="form-control" placeholder="Price"
                required />
            </div>
          </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Count</label>
          <input type="number" id="form3Example3" name="count" class="form-control" placeholder="Count"
            required />
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <label for="validationCustom02">Image</label>
            <input type="file" name="image" class="form-control" 
                placeholder="example@example.com" value="" >
        </div>

        <div class="form-group mb-4">
            <label for="exampleFormControlTextarea1"> Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
          </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 shadow">
          ADD
        </button>


      </form>
    </div>
  </div>
</div>

{% endblock %}
