{% extends "home.html" %}
{% load static %}
{% block title %}
product deatils
{% endblock %}

{% block search %}
<form class="d-flex" method="post" >
    {% csrf_token %}
    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
{% endblock %}

{% if messages %}
<ul class="messages" id="msg" >
    {% for message in messages %}
    <p style="font-size: 10px;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<div class="container">
    <div class="row">
        {% if search_product %}
        {% for i in search_product %}
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                {% if i.image %}
                <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="150px" width="300px">
                {% else %}
                <img class="card-img-top" src="{% static 'img/noimage.jpg'%} " alt=" Card image cap" height="150px" width="300px">
                {% endif %}
                <div class="card-body shadow">
                    <h5 class="card-title">{{i.name}}</h5>
                    <h5 class="card-text"><strong>₹ </strong>{{i.price}}</h5>
                    <h5 class="card-text">Available Stock {{i.count}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="javascript:void(0)" id="btn" class="btn btn-primary">Purchers</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for i in product %}
        <div class="col-lg-4 mt-4">
            <div class="card" style="width: 18rem;">
                {% if i.image %}
                <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="150px" width="300px">
                {% else %}
                <img class="card-img-top" src="{% static 'img/noimage.jpg'%} " alt=" Card image cap" height="150px" width="300px">
                {% endif %}
                <div class="card-body shadow">
                    <h5 class="card-title">{{i.name}}</h5>
                    <h5 class="card-text"><strong>₹ </strong>{{i.price}}</h5>
                    <h5 class="card-text">Available Stock {{i.count}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="javascript:void(0)" id="btn" class="btn btn-primary">Purchers</a>
                    <form action="{% url 'cart_section' id=i.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Remove cart">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}