{% extends "adminlayout.html" %}
{% load static %}
{% block title %}
product deatils
{% endblock %}
{% block content %}
<a href="{% url 'add_product' %}" class="btn btn-primary float-right mt-4 ms-5 "> Add Product<img
    src="{% static 'img/plus.png' %}" height="20px" width="20px" alt=""></a>

    <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Count</th>
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                {% for i in product %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td >{{i.name}}</td>
                    <td><strong>₹ </strong>{{i.price}}</td>
                    <td>{{i.count}}</td>
                    {% if i.image %}
                    <td> <img src="{{i.image.url}}" alt="" height="70px" width="150px"> </td>
                    {% else %}
                    <td> <img  src="{% static 'img/noimage.jpg'%} "  height="70px" width="150px">
                    </td>
                    {% endif %}
                    <td>
                      <span><a href="{% url 'edit_product' id=i.id %}" class="mr-4" title="Edit"><i
                            class="fa fa-edit color-muted"></i> </a>
                        <a href="" title="Delete"><i class="fa fa-trash color-danger"
                            style="font-size:18px;color:red"></i></a></span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

{% endblock %}