{% extends "adminlayout.html" %}
{% load static %}
{% block title %}
admin
{% endblock %}

{% block search %}
<form class="d-flex" method="post" >
  {% csrf_token %}
  <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>       
{% endblock %}

{% block content %}
<a href="{% url 'user_add' %}" class="btn btn-primary float-right mt-4 ms-5 "> Add user<img
    src="{% static 'img/plus.png' %}" height="20px" width="20px" alt=""></a>

    <div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">superuser</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          
          {% for i in user_list %}
          <tr style="height: 50px;">
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.username}}</td>
            {% if i.is_superuser and i.is_staff %}
            <td>
              <input class="form-check-input" type="checkbox" value="True" name="superuseractive" checked
                id="flexCheckChecked">
            </td>
            {% else %}
            <td></td>
            {% endif %}
            <td>
              <span>
              <a href="{% url 'user_edit' id=i.id %}" class="mr-4" title="Edit"><i
                class="fa fa-edit color-muted"></i> </a>    
              {% if i.is_staff == False  %}
                <a href="{% url 'user_delete' id=i.id %}" title="Delete"><i class="fa fa-trash color-danger"
                    style="font-size:18px;color:red"></i></a>
                    {% endif %}
                  </span>
            </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}